@keyframes menubar {
  from {
    background-color: rgba(96, 31, 60, 0);
    border-color: rgba(233, 155, 60, 0);
    right: -300px;
  }
  to {
    background-color: #601f3c;
    border-color: #e99b3c;
    right: 0px;
  }
}
@keyframes menuback {
  from {
    background-color: rgba(96, 31, 60, 0);
    border-color: rgba(233, 155, 60, 0);
    right: 0;
  }
  to {
    background-color: #601f3c;
    border-color: #e99b3c;
    right: -300px;
  }
}
@keyframes search {
  from {
    background-color: rgba(96, 31, 60, 0);
  }
  to {
    background-color: rgba(96, 31, 60, 0.7);
  }
}
@keyframes scrollBtn {
  0% {
    bottom: 15%;
  }
  80% {
    bottom: 13%;
  }
  100% {
    bottom: 15%;
  }
}
@keyframes process {
  from {
    height: 30vh;
  }
  to {
    height: 50vh;
  }
}
.preloader {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  margin: auto;
  display: flex;
  z-index: 2000;
}
.preloader div:nth-child(1n) {
  animation: rotating 1s linear 0s infinite;
}
.preloader div:nth-child(2n) {
  animation: none;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.preloader div {
  margin: auto;
}
.preloader-animation {
  animation: preloader 3s;
}
@keyframes rotating {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes preloader {
  0% {
    background-color: #ffffff;
  }
  50% {
    background-color: rgba(255, 255, 255, 0);
  }
  100% {
    background-color: rgba(255, 255, 255, 0);
    opacity: 0;
  }
}
